.cz-datepicker {
}

.cz-datepicker-mode {
    display: inline-block;
    width: 80px;
<<<<<<< HEAD
    margin-right: 30px;
=======
    margin-right: 20px;
>>>>>>> 1bdcb24c63c5ae8bdd47b2c09e7d441cb5c6eeef
}

.cz-datepicker-container {
     display: inline-block;
     float: right;
}

.cz-datepicker-container:after {
    clear: both;
}

.cz-datepicker-regime {
    margin-left: 10px;
}

.cz-datepicker-year-year {
    width: 80px;
}

.cz-datepicker-year-date {
    width: 50px;
}

.cz-datepicker-day-selector {
    max-height: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.cz-datepicker-month-selector {
}

.cz-datepicker-errormsg {
    color: #dd4b39;
}